<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/">
    <img src="/img/1485200.svg"width=60 height="60">
  </a>
  <a href="/" class="navbar-brand" style="margin-left: 2%;">
    Home
  </a>
  <a href="/perguntar" class="navbar-brand" style="margin-left: 2%;">
    Perguntar
  </a>
    
</ul>
</nav>